@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Bungee', cursive;
  font-style: normal;
  font-weight: 400;
}

.game-wrapper {
  background-image: url(../img/pattern.svg);
  background-repeat: repeat;

  height: 100%;
  width: 100%;
  background-size: 100px;
}
.information-wrapper {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Textos */

h1 {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 150px));
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffbb2a;
  text-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
h2, h3, .player-score, .remaining-followers {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.player-score {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
}
.remaining-followers {
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff;
}

/* Board */

#board {
  margin-top: 120px;
  width: 3012px;
  border: 6px solid #74480d;
  height: 3012px;
  background: #dedede;
  background-image: url(../img/board-background.png);
  box-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
.row-card {
  display: flex;
}
.card-cell {
  height: 100px;
  width: 100px;
  flex-basis: 100px;
  border: 1px solid #ffffff;
  background: red;
}
.initial {
  background: yellow !important;
}
.cell-highlighted {
  background: blue !important;
}
.drop-hover {
  background: orange !important;
}
.blocked {
  pointer-events: none;
}

/* Score */

.score {
  height: 100vh;
  background-image: url(../img/pattern-score.svg);
  background-repeat: repeat;
  background-size: 100px;
  background: #e85756;
  -webkit-box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  -moz-box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px 20px 40px;
}
.players-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);
  align-items: center;
}
.score-title {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.deck {
  position: relative;
  width: 98px;
  height: 98px;
}

.card, .back, .front{
  height: 98px;
  width: 98px;
}

.card {
  flex-basis: 100px;
  position: absolute;
}

.card .back {
  background: green;
}

.card .front {
  display: none;
}






/*Botones*/


.capa1 {
	position: relative;
	-webkit-border-radius: 11px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	width:300px;
	height:100px;
	background:black;
	-webkit-box-shadow: 0px 11px 2px #301C09;
  -moz-box-shadow: 0px 11px 2px #301C09;
  box-shadow: 0px 11px 2px #301C09;
  cursor:pointer;
  margin : 80px auto;
  transform: scale(0.5);
}

.capa2 {
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:294px;
	height:94px;
	margin-top:3px;
	margin-left:3px;
	background:#FDA80D;
	-webkit-box-shadow: 0px 9px 0px #AF6B06;
  -moz-box-shadow: 0px 9px 0px #AF6B06;
  box-shadow: 0px 9px 0px #AF6B06;
}

.capa23{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width:292px;
	height:80px;
	margin-top:5px;
	margin-left:1px;
    -webkit-box-shadow: 0px -4px 5px 0px #FFDC33;
    -moz-box-shadow:    0px -4px 5px 0px #FFDC33;
	box-shadow:         0px -4px 5px 0px #FFDC33;


}

.capa3{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:0px;
	margin-left:5px;
	width:281px;
	height:82px;
	background:rgba(255,187,42,1);
	-webkit-box-shadow: 0px 4px 3px 0px #FE8906;
	-moz-box-shadow:    0px 4px 3px 0px #FE8906;
	box-shadow:         0px 4px 3px 0px #FE8906;
}

.capa4{
	position:absolute;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-top:5px;
	margin-left:3px;
	width:275px;
	height:38px;
	background:#FFD053;
}

.capa5{
	position:absolute;
	-webkit-border-radius: 45%;
	-moz-border-radius: 45%;
	border-radius: 45%;
	margin-top:0px;
	margin-left:267px;
	width:7px;
	height:9px;
	background:#FFF1B6;
}

.text{
	position:absolute;
	font-family: "bungee",sans-serif;
  font-style: normal;
  font-weight: 400;
	color:#FFFFCC;
	font-size:1.7em;
	margin-top:2px;
	margin-left:85px;
	text-shadow: -1px 0 1px #582E00,
             	1px 0 1px #582E00,
             	0 -1px 1px #582E00,
             	0 4px 1px #582E00,
             	-2px 4px 1px #582E00,
             	2px 3px 2px #582E00;
}

.rotate-btn {
  left: -180px;
}

.accept-btn {
  top: -180px;
  left: -20px;
}
