@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: 'Bungee', cursive;
  font-style: normal;
  font-weight: 400;
}

.game-wrapper {
  background-image: url(../img/pattern.svg);
  background-repeat: repeat;

  height: 100%;
  width: 100%;
  background-size: 100px;
}
.information-wrapper {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Textos */

h1 {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(calc(-50% - 150px));
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  color: #ffbb2a;
  text-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
h2, h3, .player-score, .remaining-followers {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.player-score {
  text-align: center;
  font-size: 4rem;
  color: #ffffff;
}
.remaining-followers {
  text-align: center;
  font-size: 1.25rem;
  color: #ffffff;
}

/* Board */

#board {
  margin-top: 120px;
  width: 6012px;
  border: 6px solid #74480d;
  height: 6012px;
  background: #dedede;
  background-image: url(../img/board-background.png);
  box-shadow: -1px 0 1px #582E00, 1px 0 1px #582E00, 0 -1px 1px #582E00, 0 4px 1px #582E00, -2px 4px 1px #582E00, 2px 3px 2px #582E00;
}
.row-card {
  display: flex;
}
.card-cell {
  height: 100px;
  width: 100px;
  flex-basis: 100px;
  border: 1px solid #ffffff;
  background: red;
}
.cell-highlighted {
  background: blue !important;
}

/* Score */

.score {
  height: 100vh;
  background-image: url(../img/pattern-score.svg);
  background-repeat: repeat;
  background-size: 100px;
  background: #e85756;
  -webkit-box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  -moz-box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  box-shadow: -5px 0px 14px -7px rgba(255,187,42,1);
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  padding: 20px 20px 40px;
}
.players-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);
  align-items: center;
}
.score-title {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}
.card {
  height: 100px;
  width: 100px;
  flex-basis: 100px;
  background: green;
  border: 1px solid #ffffff;
}
